.nav li{
	display:inline-block;
	list-style: none;
}
ul{
    width: auto;
    height: 100%;
}
.list-node{
    vertical-align: middle;
    margin: 0px 30px;
    color: #efe9e9;
}

.list-node a{
	font-size: 20px;
}

.list-left{
	float:left;
	margin-right: 230px;
    margin-left: 50px;
}

.list-right{
	float:right;
	margin-right: 90px;
}

/* .list-node:hover{
	border-bottom: 10px solid #7FFFD4;
	box-sizing: border-box;
} */

.nav{
	z-index: 30;
    height: 85px;
    width: 100%;
    background-color: #3e79ff;
    box-shadow: 0px 2px #afb9fa;
	position: fixed;
	line-height: 70px;
}
.icon{
	margin-top: 10px;
    width: 40px;
    height: 40px;
    /* border: 1px #fff solid; */
    border-radius: 50%;
}

.nav,.nav-ul{
	background-color: #1E9FFF;
}

.layui-nav *{
	font-size:17px;
	color:#fff;
}

.nav-option{
	position:absolute;
	left:500px;
}

.nav-user,.nav-login{
	position:absolute;
	right:100px;
}
	
.nav-logo{
	position:absolute;
	left:50px;
}