.user-register{
    width: 400px;
    height: 900px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 200px);
    background-color: #ffffff;
    box-shadow: 7px 8px 3px 3px #88b8e0;
    border-radius: 20px;
}

.username{
	position: absolute;
	top:150px;
	left:0px;
}
.nickname{
	position: absolute;
	top:220px;
	left:0px;
}
.password{
	position: absolute;
	top:430px;
	left:0px;
}

.phone{
	position: absolute;
	top:290px;
	left:0px;
}

.email{
	position: absolute;
	top:360px;
	left:0px;
}
.parentPassword{
	position: absolute;
	top:500px;
	left:0px;
}
.birthday{
	position: absolute;
	top:640px;
	left:0px;
}
.identifyCode{
	position:absolute;
	top: 710px;
	left: 0px;
}
.sex{
	position:absolute;
	top: 570px;
	left: 0px;
}
.identifyCode input{
	width:125px;
	display: inline-block;
}
.identifyCode button{
	width:100px;
	margin-left:10px;
}

.submit-button{
	position: absolute;
	top:780px;
	left:0px;
}

.layui-input{
	height: 35px;
    width: 240px;
    border-radius: 7px;
    background-color: aliceblue;
}
.layui-form-label{
	font-size: 20px;
}
.form-span{
    position: absolute;
    width: 100%;
    height: 80%;
}
.layui-btn{
	width:200px;
}
 .layui-btn:hover{
	background-color: #645cd4
} 

.line{
    width: 80%;
    border: 1px solid #c5c1c1;
    position: absolute;
    top: 830px;
    left: calc(10%);
    border-radius: 1px;
}
.option{
    width: 90%;
    height: 60px;
    /* border: 1px solid; */
    position: absolute;
    bottom: 0px;
    left: calc(5%);
}
.opt-register{
	position: absolute;
	right: 30px;
}
.opt-findPsw{	
	position: absolute;
    left: 30px;	
}
.opt-findPsw a,.opt-register a{
	color: #2196F3;
    font-size: 18px;
}
.opt-findPsw a:hover,
.opt-register a:hover{
	color: #5cc4f3;
    font-size: 18px;
}

.title{
    width: 90%;
    height: 120px;
    border: 1px solid;
    position: absolute;
    top: 15px;
    left: 5%;
}