.user-login{
width: 400px;
    width: 400px;
    height: 500px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 200px);
    background-color: #ffffff;
    box-shadow: 7px 8px 3px 3px #88b8e0;
    border-radius: 20px;
}

.username{
	position: absolute;
	top:150px;
	left:0px;
}

.password{
	position: absolute;
	top:250px;
	left:0px;
}

.submit-button{
	position: absolute;
	top:320px;
	left:0px;
}

.layui-input{
	height: 35px;
    width: 240px;
    border-radius: 7px;
    background-color: aliceblue;
}
.layui-form-label{
	font-size: 20px;
}
.form-span{
    position: absolute;
    width: 80%;
    height: 80%;
}
.layui-btn{
	width:200px;
    background-color: #2196f3;
}
.layui-btn:hover{
	background-color: #645cd4
}

.line{
    width: 80%;
    border: 1px solid #c5c1c1;
    position: absolute;
    top: 400px;
    left: calc(10%);
    border-radius: 1px;
}
.option{
    width: 90%;
    height: 75px;
    /* border: 1px solid; */
    position: absolute;
    bottom: 20px;
    left: calc(5%);
}
.opt-register{
	position: absolute;
	right: 30px;
}
.opt-findPsw{	
	position: absolute;
    left: 30px;	
}
.opt-findPsw a,.opt-register a{
	color: #2196F3;
    font-size: 18px;
}
.opt-findPsw a:hover,
.opt-register a:hover{
	color: #5cc4f3;
    font-size: 18px;
}

.title{
    width: 90%;
    height: 120px;
    border: 1px solid;
    position: absolute;
    top: 15px;
    left: 5%;
}